.bp3-non-ideal-state > * {
  max-width: calc(100vw - 8rem);
}

.WelcomeScreen__actions {
  margin: auto;
  padding-top: 2rem;
  text-align: left;
  width: fit-content;
}

.WelcomeScreen__actions > div:first-child {
  padding-bottom: 1rem;
}

.WelcomeScreen__actions .bp3-icon svg {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.WelcomeScreen__actions .bp3-button.bp3-minimal:disabled h3 {
  color: inherit;
}
